# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment directories
.env
.venv/
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

# Pytest cache
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
test-results/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS specific files
.DS_Store

# Other files
*.log
*.pot
*.pyc
*.pdb
*.db
*.sqlite3

# project specific
exp/adult/privsyn/adult.csv
