version: '3.8'

services:
  datascience:
    build: .
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
    working_dir: /app
    # Enable interactive mode
    stdin_open: true
    tty: true 